*{	box-sizing: border-box;} 

@import url('https://fonts.googleapis.com/css?family=Open+Sans');



body{	background: linear-gradient(45deg, 	#D8D8D8 0%, #686868 100%);
		background-color:gray;
		color: #FFFFFF;
		font-family: 'Open Sans',sans-serif;}

header {font-family: 'Open Sans',sans-serif;
		background-position: center;
		color: #eaeaea;
		border-bottom: solid 1px black;
		height: 75px;
		text-align:left;
		font-size:100%;
		}
header h1{	flex:1;
			text-shadow:3px 3px black;
			margin:0px;
			padding:0px;}

header a{text-decoration: none;
		color:#eaeaea;}
.social_media{	flex:6;
				margin-top:15px;
				margin-left:70px;
				}
.social_media img {margin-right: 10px;}

#tagline{	
			color:#000000;
			margin:0px 0px 0px -50px;
			padding:0px 0px 0px 90px;}

.container {display: flex;
			flex-direction: row;}

nav{font-weight:900; 
	text-decoration: none;	
	margin-left: 100px;	
	 } 
.topnav {			}

#homebutton, #fashionbutton, #graphicbutton, #industrialbutton,#interiorbutton,#urbanbutton, #uxbutton{display:inline-block;
position:relative;}

nav a {	  
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}
  

nav a:visited {	color: #000000;}
nav a:link {	color: #000000;}
nav a:hover {	color: #eaeaea;
				background-color:grey;}
.dropbtn {	
		
			position: relative;
			width: 95px;
			border: solid 1.5px black;
			font-weight:bold;
			background-color:silver;
			border-radius: 15px 15px 0px 0px;
			word-wrap:break-word;
			padding: 8px;
			margin:19px 0px 0px 0px;}	 

.dropbtn:hover, .dropbtn:focus {	background-color: #A9A9A9;}

.dropmenu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 1px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-size: 13px;
	font-weight:bold;	
}

#sub0 a, #sub1 a,#sub2 a,#sub3 a,#sub4 a,#sub5 a,#sub6 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	font-size: 13px;
	border: solid .5px black;
}

.show {display:block;}

#sub7,#sub8,#sub9,#sub10,#sub11,#sub12 {	background-color:#eaeaea;
		margin: 0;
		padding:0;
    	display: block;
		position: relative;
		z-index:1000;
	}
.hamburger{ display:none;
			margin:0px -5px 0px 0px;
			position:relative;
			}
.fotorama{ border:none;
			margin:0px 0px 0px 0px;
			height:400px;
			width:400px;
			float:left;
			}
.fotorama__html div, .fotorama__html a 
{
  display: block;

  height: 100%;
   text-indent: -9999px;
 
}			
.fotorama__caption{
	bottom:5%;
	text-align: center;
}

.fotorama.img{
	height:400px;
	width:400px;
}


main{	text-align:left;
		flex:15;
		padding: .5cm;
		background: linear-gradient(45deg, 	#D8D8D8 0%, #686868 100%);
		color:white;
		font-family: 'Open Sans', sans-serif;
		font-size:1.3em;}
main h1{ text-shadow:3px 3px black;
			margin:0px;
			padding:0px;
			color: #eaeaea;
			text-align:center;
}

.Newsfeed { background-color: #eaeaea;
			padding: 15px;
			margin: 50px 20px 20px 0;
			border:none;
			color: black;
			}

.gallery { 	padding: 5px;
			position: absolute;}
.gallery img{	border: none;}
.gallery figure{ padding-top: 5px;
				float: right;}
.gallery figcaption{	font-weight: bold;
						font-size:	1.5em;
						text-align:center;}
.failFigure{ padding:5px;}
.failFigure figure{padding-top: 5px;
				float:left;}
.failFigure figcaption{	font-weight: bold;
						font-size:	1.5em;
						text-align:center;}
#failTable{margin:0px;
			border: solid 1px black;
			margin-top: 50px;
			border-collapse:collapse;
			float:right;}
#failTable td{border-collapse:collapse;
			border:solid 1px black;
			padding:5px;}
#mainTable caption{  font-size:1.5em;
			text-shadow:3px 3px black;
			margin:0px;
			padding:0px;
			color: #eaeaea;
			text-align:center;}
#mainTable{ float:right;
			margin-top:-25px;
			margin-left:100px;
			margin-right:60px;
			padding:2px;
			border: solid 1px black;
}
#mainTable td{padding: 2px;
				border:solid 1px black;}
#mainTable img{padding: 0px;}
				
dl a{ 	color: white;
		text-decoration:none;}
dl a:hover{color: grey;}

img {	height:auto;
		max-width: 100%;}

main img, iframe{	
	margin:10px;
	padding:10px;
}
			
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 100px;
  z-index: 99;
  font-size: 13px;
  border: solid 1px #FFFFFF;
  outline: none;
  background-color: #000000;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: 	#A9A9A9;
}
.contact{text-align:left;
		color: #000000;
		font-size: .8em;
		padding: 40px 5px;}

aside{	color: #000000;
		flex:1;
	padding:0.5em;}

footer{	color:#FFFFFF;
		border-top: 2px solid #221811;
		padding: 2px;
		background-color: #000000;
		font-size: 0.8em;
		font-style: italic;
		text-align: center;
}
footer a:link{color: #FFFFFF;}
footer a:visited{color:#FFFFFF;}
footer a:hover{color: #0084b4;}
/* img.banner_ad{	 */
				/* width:25%;} */

ul.sitemap_list{list-style-type:none;
				padding-left:100px;
				margin-top:0px;
				margin-bottom:0px;}

.sidenav {
	color: #000000;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0px;
	margin-right: -50px;
    background-color:silver;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
	color: #000000;
    padding: 20px 8px 10px 32px;
    text-decoration: none;
	font-weight:bold;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #eaeaea;
	background-color:grey;
}

.sidenav .closebtn {
    position: absolute;
    top: -20px;
	right:0px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 5px;
}

#mobile{ display:none;}
#desktop {display:inline;}

@media only screen and (max-width: 1160px){	
	#mainTable{padding:10px;
				margin-top: -80px;
				margin-right:260px;
				margin-left:5px;
				float:left;
				}
	#mainTable td{padding: 5px;
					margin:0px;}
	#failTable{float:left;
				margin:5px;}
	#failFigure{float:left;
				margin:5px;}
	#tagline{display:none;}
	.topnav{display:none;}
	.hamburger{display:flex;
				position:relative;
				margin:15px 0px 0px 0px;}
	.social_media { margin: 15px 0px 0px 0px;}
	.social_media img {padding:0px;}
	.sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
	#mobile{ display:none;}
	#desktop {display:inline;}
}
@media only screen and (max-width: 768px){
	iframe{ margin:auto;
			width:668px;}
	main{padding:0px;}
	main img{padding:2px 0px 0px 0px;}
	#tagline{display:none;}
	.topnav{display:none;}
	.hamburger{display:flex;
				position:relative;
				margin:15px 0px 0px 0px;}
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px}
	.social_media { margin: 15px 0px 0px 0px;}
	.social_media img {padding:0px;}
	#mainTable{padding:10px;
				margin-top: -80px;
				margin-right:0px;
				float:left;}
	#mainTable td{padding: 5px;}
	
	#mobile{ display:none;}
	#desktop {display:inline;}
}

@media only screen and (max-width: 600px){
	iframe{ margin:auto;
			width:500px;}
	main{padding:0px;}
	main img{padding:2px 0px 0px 0px;
			margin:0px;}
	#mainTable{padding:10px;
				margin-top: -80px;
				float:left;}
	#mainTable td{padding: 5px;}	
	.hamburger{display:flex;
				position:relative;
				margin:15px 0px 0px 0px;}
	.topnav{display:none;}
    .sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	.social_media { margin: 15px 0px 0px -40px;}
	.social_media img {padding:0px;}
	#mobile{ display:none;}
	#desktop {display:inline;}
	aside{display:none;}
}
@media only screen and (max-width: 400px){
	
	main{padding:0px;}
	main img{padding:2px 0px 0px 0px;
			margin:0px;}
	.newsfeed img { margin:0px;
					width:200px;}
	header{height:100px;}
	nav{margin-left:-25px;}
	#tagline{display:none;}
	.topnav{display:none;}
	aside{display:none;}
	.hamburger{ display:flex;
				position:relative;
				margin:15px -5px 0px 0px;}
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
	#mobile{ display:inline;}
	#desktop {display:none;}
	.social_media { margin: 15px 0px 0px 36px;}
	.social_media img {padding:0px;}
	.fotorama{ height:300px;
			width:300px;}
			iframe{ margin:auto;
			width:300px;}
	#mainTable{padding:2px;
				margin-top: -80px;}
	#mainTable td{padding: 2px;}	
						
}


